:root {
  --grey-000: #d1d1d1;
  --grey-001: #a5a5a5;
  --grey-002: #585757;
  --grey-003: #3b3b3b;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--grey-002);
}
::-webkit-scrollbar-thumb {
  background: var(--bgcolor);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-001);
}

/***+++ ele +++***/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 100% system-ui;
  background-color: var(--bgcolor);
  color: var(--fgcolor);
}
header {
  height: max-content;
  padding: 0.2%;
  background-color: var(--theme-green);
  font-size: larger;
}
input#phone {
  background-color: var(--grey-001);
  height: 3em;
  border-radius: 5px;
  border: 1px var(--grey-002);
}
input#phone::placeholder {
  color: var(--grey-002);
}
input[type="submit"] {
  margin: 20px auto;
  width: 45%;
  height: 2em;
  border-radius: 5px;
  border: 1px var(--grey-002) solid;
  background-color: var(--grey-001);
}
input[type="submit"]:enabled:hover {
  filter: brightness(120%);
}
input[type="submit"]:disabled {
  background-color: var(--grey-000);
  filter: opacity(90%);
  border-color: var(--grey-001);
  color: var(--grey-001);
}
form {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: auto;
}

/***--- ele ---***/

/***+++ classes ++++***/
div.center {
  align-items: center;
}
.center {
  text-align: center;
}
.iti__country-list {
  background-color: var(--grey-001) !important;
  border-radius: 0px 0px 5px 5px;
  border-color: var(--grey-002);
}
.iti__country-name {
  color: var(--grey-003);
}
.iti__dial-code {
  color: var(--grey-002);
}
/***--- classes ---***/
