html {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0px;
    height: 100%;
    padding: clamp(5px, 1ch, 1em);
    box-sizing: border-box;
}
body div#svelte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
}