/***+++ tags +++***/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 100% system-ui;
  background-color: #eee;
  color: #000;
}
header {
  height: max-content;
  padding: 0.2%;
  background-color: rgb(43, 133, 43);
  font-size: larger;
}
/*** tags - large media ***/
/*** tags - dark media ***/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }
  header {
    background-color: rgb(19, 102, 19);
  }
}
/***--- end tags ---***/

/***+++ classes ++++***/
div.center {
  align-items: center;
}
.center {
  text-align: center;
}

/*** classes - large media  ***/
/*** classes - dark media ***/

/***--- classes ---***/
